body {
  font-family: Verdana;
  font-size: 1.5em;
}

#team-members {
  clear: both;
}

#team-members .member {
  float: left;
  /*border: 1px solid gray;*/
  margin: 10px;
  padding: 6px;
}

#team-members .member div.name {
  text-align: center; 
}

#team-members .member img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px dotted #fff;
  box-shadow: 0px 0px 20px #000;
  -webkit-transform: rotate(40deg);
}

#team-members .member img.filter {
  display: none;
}

#team-members .member:hover img.normal {
  display: none;
}

#team-members .member:hover img.filter {
  display: inline;
  -webkit-transform: rotate(0deg);
}

#team-members img.biopic {
  width: 400px;
  height: 400px;
}

