body {
  font-family: Verdana;
  font-size: 1.5em;
}

#team-members {
  clear: both;
}

#team-members .member {
  float: left;
  /*border: 1px solid gray;*/
  margin: 10px;
  padding: 6px;
}

#team-members .member div.name {
  text-align: center; 
}

#team-members .member img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 0px -4px 15px #000;
}

#team-members .member img.filter {
  display: none;
}

#team-members .member:hover img.normal {
  display: none;
}

#team-members .member:hover img.filter {
  display: block;
}

#team-members img.biopic {
  width: 400px;
  height: 400px;
}

