body {
  font-family: Verdana;
  font-size: 1.5em;
}

#team-members {
  clear: both;
}

#team-members .member {
  float: left;
  /*border: 1px solid gray;*/
  margin: 10px;
  padding: 6px;
}

#team-members .member div.name {
  text-align: center; 
}

#team-members .member .images {
  -webkit-transform: rotate(40deg);
  -webkit-transition: all 0.5s ease-in-out;
  }

#team-members .member .images img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid #fff;
  box-shadow: 0px 0px 20px #000;
}

#team-members .member .images img.filter {
  display: none;
}

#team-members .member:hover .images img.normal {
  display: none;
}

#team-members .member:nth-child(odd):hover .images {
  -webkit-transform: scale(1.3);
}

#team-members .member:nth-child(even):hover: .images {
  -webkit-transform: rotate(0deg);
}

#team-members .member:hover .images img.filter {
  display: inline;
}

#team-members img.biopic {
  width: 400px;
  height: 400px;
}
